.FF {
  margin: 0;
  padding-bottom: 25px;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 1.5em;
  -webkit-text-stroke: thin #000;
  paint-order: stroke fill;
  background: url("../images/ondanya/party.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;

  .quote {
    font-size: 1.2em;
    font-style: italic;
  }

  h1 {
    margin: 0;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    -webkit-text-stroke: 2px black;
  }

  p {
    text-align: justify;
  }

  .paragraph {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2% 4%;
  }

  .galery {
    padding: 0 50px;
  }

  .meet-the-sisters {
    padding: 0 50px;
  }

  .title {
    font-family: "Permanent Marker", cursive;
    -webkit-text-stroke: 2px black;
  }

  .card {
    display: flex;
    justify-content: space-between;
    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 5%;
    }
    .right-side {
      justify-content: center;
      align-items: center;
      display: flex;
      img {
        border: 0.25em solid #5c0d0b;
        border-radius: 15%;
        height: 15em;
      }
    }
  }

  .switcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .switcher-button {
      &:hover {
        background-color: #f26d7d;
      }
      background-color: #5c0d0b;
      border-radius: 10%;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      margin: 1%;
    }
  }

  @media screen and (max-width: 1200px) {
    .card {
      flex-direction: column-reverse;
    }
  }
}
